body{
    background-color: rgb(23, 24, 68);
}

h1{
    font: 1em sans-serif;
    color: aliceblue;
    text-align: center;
    font-size: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}

h2{
    font: 1em sans-serif;
    color: aliceblue;
    text-align: center;
    font-size: 30px;
    margin-top: 25px;
}

section{
    background: rgb(122, 147, 255);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

div {
    background-color: rgb(255, 254, 253);
    width: 200px;
    height: 200px;
    margin-left: 30%;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.425);
}

button{
    text-align: center;
    margin-left: 45%;
    margin-top: 20px;
}